<div class="landing-text">

  <h1>{{ 'SchoolName' | translate }}</h1>

  <h2>{{ 'Landing.LandingTitle' | translate}}  </h2>

  <ul>
    <li>{{'Landing.LandingList1' | translate}}</li>
    <li>{{'Landing.LandingList2' | translate}}</li>
    <li>{{'Landing.LandingList3' | translate}}</li>
    <li>{{'Landing.LandingList4' | translate}}</li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 country-logo">
        <img src="../../../../assets/images/france_logo.png">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 country-logo">
        <img src="../../../../assets/images/spain_logo.png">
      </div>
      <div class="col-md-2"></div>
    </div>
    <button (click)="quotationClick()">{{'Quotation.QuotationButton' | translate}}</button>
  </div>
</div>
