<div class="landing-text">

  <h1>{{ SchoolName }}</h1>

  <h2>{{ 'LandingTitleH4' | translate}}  </h2>

  <ul>
    <li>{{'LandingList1' | translate}}</li>
    <li>{{'LandingList2' | translate}}</li>
    <li>{{'LandingList3' | translate}}</li>
    <li>{{'LandingList4' | translate}}</li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 country-logo">
        <img src="../../../../assets/images/france_logo.png">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 country-logo">
        <img src="../../../../assets/images/spain_logo.png">
      </div>
      <div class="col-md-2"></div>
    </div>
    <button (click)="quotationClick()">{{'QuotationButton' | translate}}</button>
  </div>
</div>
