<div class="page">
  <div class="module">
    <div class="container">
      <div class="row">
        <h1>{{"Courses.Proficiency.Title" | translate}}</h1>
      </div>
      <div class="row">
        <div class="col">
          <pm-courses-level-item
            [title]="'Courses.Proficiency.Levels.A1.Title'"
            [description]="'Courses.Proficiency.Levels.A1.Description'"
            [circleColor]="'#fce8aa'"
          ></pm-courses-level-item>
        </div>
        <div class="col">
          <pm-courses-level-item
            [title]="'Courses.Proficiency.Levels.A2.Title'"
            [description]="'Courses.Proficiency.Levels.A2.Description'"
            [circleColor]="'#f5cbd5'"
          ></pm-courses-level-item>
        </div>
        <div class="col">
          <pm-courses-level-item
            [title]="'Courses.Proficiency.Levels.B1.Title'"
            [description]="'Courses.Proficiency.Levels.B1.Description'"
            [circleColor]="'#c3d5a7'"
          ></pm-courses-level-item>
        </div>
        <div class="col">
          <pm-courses-level-item
            [title]="'Courses.Proficiency.Levels.B2.Title'"
            [description]="'Courses.Proficiency.Levels.B2.Description'"
            [circleColor]="'#b4dae0'"
          ></pm-courses-level-item>
        </div>
        <div class="col">
          <pm-courses-level-item
            [title]="'Courses.Proficiency.Levels.?.Title'"
            [description]="'Courses.Proficiency.Levels.?.Description'"
            [circleColor]="'#fccba9'"
          ></pm-courses-level-item>
        </div>
      </div>
    </div>
  </div>
</div>
