<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="/assets/images/footer-header/phone.svg"/>
        {{PhoneNumber}}
      </p>
      <p>
        <img src="/assets/images/footer-header/envelope.svg"/>
        {{Mail}}
      </p>
    </div>
    <div class="col-md-4">
      <p>{{'Footer.TermsAndConditions' | translate}}</p>
      <p>{{'Footer.SiteMap' | translate}}</p>
    </div>
    <div class="col-md-4">
      <img class="social-logo" src="/assets/images/footer-header/facebook.svg"/>
      <img class="social-logo" src="/assets/images/footer-header/vkontakte.svg"/>
      <img class="social-logo" src="/assets/images/footer-header/instagram.svg"/>
    </div>
  </div>
</div>
