<div class="route">
  <pm-courses-presentation
    [title]="'Courses.French.Presentation.Title'"
    [description]="'Courses.French.Presentation.Description'"
    [image]="'assets/images/pages/courses/french/presentation.png'"
  ></pm-courses-presentation>
  <pm-courses-level></pm-courses-level>
  <pm-courses-video-holder
    [image]="'assets/images/pages/courses/video_holder_pic.jpg'"
  >
    <iframe src="https://www.youtube.com/embed/5C8CGiBJ_jA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </pm-courses-video-holder>
  <pm-courses-prices></pm-courses-prices>
  <pm-register></pm-register>
</div>
