<div class="page">
  <div class="module">
  <div class="container">

    <div class="row">
      <div class="col-5">
        <h2>This is a title</h2>
        <iframe class="video" src="https://www.youtube.com/embed/5C8CGiBJ_jA" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="col-7">
        <div class="circle">
          <img class="video_holder_pic" src="assets/images/pages/courses/french/video_holder_pic.jpg"/>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
