.page {
  background-color: #e7eedc;
}

.video_holder_pic {
  object-fit: contain;
  width: 100%;
  max-width: 50vw;
  margin-top: 10%;
  margin-bottom: 10%;
}

.circle {
  margin-right: 10%;
  margin-top: -5%;
  margin-bottom: -5%;
  background-color: #efaec2;
  border-radius: 50%;
}

.video {
  border-radius: 10px;
  position: relative;
  bottom: -10%;
  height: 50%;
  left: 30%;
  z-index: 1;
  width: 100%;
  object-fit: contain;
}

.left-column {
  margin: 20px;
}
