<div class="page">
  <div class="module">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="left-column">
            <h2>How is organized a course at Lingua Govorun</h2>
            <p>We provide individual and group lessons. lessons are held in the format of a video conference on the
              platform Zoom</p>
            <iframe class="video" src="https://www.youtube.com/embed/5C8CGiBJ_jA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-7">
          <div class="circle">
            <img class="video_holder_pic" src="{{image}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
