<div class="route">
  <pm-courses-presentation
    [title]="'Courses.Spanish.Presentation.Title'"
    [description]="'Courses.Spanish.Presentation.Description'"
    [image]="'assets/images/pages/courses/spanish/presentation.png'"
  ></pm-courses-presentation>
  <pm-courses-level></pm-courses-level>
  <pm-courses-video-holder
    [image]="'assets/images/pages/courses/video_holder_pic.jpg'"
  ></pm-courses-video-holder>
  <pm-courses-prices></pm-courses-prices>
  <pm-register></pm-register>
</div>
