<div class="container">
<div class="row empty-row"></div>
<h1 class="empty-row">{{ 'AboutUs' | translate }}</h1>

  <pm-person-card [pictureUrl]="'./assets/images/nath.png'"
                  [name]="'NataliaName'"
                  [job]="'NataliaJob'"
                  [desc]="'NataliaDesc'"
  ></pm-person-card>
  <div class="row empty-row"></div>
  <pm-person-card [pictureUrl]="'./assets/images/fred.png'"
                  [name]="'FredericName'"
                  [job]="'FredericJob'"
                  [desc]="'FredericDesc'"
  ></pm-person-card>


</div>
