<div class="page container">
<h1>{{ 'AboutUs.AboutUs' | translate }}</h1>

  <pm-person-card [pictureUrl]="'./assets/images/nath.png'"
                  [name]="'AboutUs.NataliaName'"
                  [job]="'AboutUs.NataliaJob'"
                  [desc]="'AboutUs.NataliaDesc'"
  ></pm-person-card>
  <div class="row empty-row"></div>
  <pm-person-card [pictureUrl]="'./assets/images/fred.png'"
                  [name]="'AboutUs.FredericName'"
                  [job]="'AboutUs.FredericJob'"
                  [desc]="'AboutUs.FredericDesc'"
  ></pm-person-card>
</div>
