<nav>
  <div class="container">
    <div class="row">
      <div class="title col-auto centered-vert">
        <a class='centered-vert' [routerLink]="['/landing']">
          <img class="logo" src="../../../assets/images/footer-header/logo.svg">
        </a>
      </div>
      <div class="col"></div>
      <a class='nav-link centered-vert' [routerLink]="['/about-us']">
        {{'AboutUs.AboutUs' | translate }}
      </a>
      <a class='nav-link centered-vert' [routerLink]="['/about-us']">
        {{'Courses.Courses' | translate }}
      </a>
      <a class='nav-link centered-vert' [routerLink]="['/how-to']">
        {{'HowTo.HowTo' | translate }}
      </a>
      <div class="col"></div>
      <pm-language-selection class="centered-vert"></pm-language-selection>
      <a class='nav-link centered-vert' [routerLink]="['/about-us']">
        {{'ContactUs.ContactUs' | translate }}
      </a>
    </div>
  </div>
</nav>
