

nav {
  background-color: white;
  position: sticky;
  width: 100%;
  text-align: right;
 }

.logo {
  height: 100px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .dropdown-menu {
  float: right;
}
