li { list-style-image: url(/assets/images/pages/landing/check.svg); }
.bold {
  font-weight: bold;
}

.title {

}

.title::before {
  content: url(/assets/images/pages/landing/quote.svg);
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: -20px;
  margin-left: -20px;
  z-index: -1;
}
