<div class="page">
  <div class="module">
    <div class="row">
      <div class="col-md-6 left-picture">
      </div>
      <div class="col-md-6">
        <h2 class="title" >{{'Landing.Teacher.Title' | translate}}</h2>
        <p>
          <span class="bold">{{'Landing.Teacher.Name' | translate}}</span>&nbsp;
          {{'Landing.Teacher.Description' | translate}}</p>
        <ul>
          <li>{{'Landing.Teacher.Point1' | translate }}</li>
          <li>{{'Landing.Teacher.Point2' | translate }}</li>
          <li>{{'Landing.Teacher.Point3' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
