<div class="page">
  <div class="container">
    <div class="module">
      <h1>{{'Landing.ChooseUs.Title' | translate}}</h1>
      <div class="row">
        <div class="col">
          <pm-landing-choose-us-item
            [imageUrl]="'assets/images/landing_choose_us_groups.svg'"
            [text]="'Landing.ChooseUs.Argument1.Description' | translate"
            [title]="'Landing.ChooseUs.Argument1.Title' | translate"
          ></pm-landing-choose-us-item>
        </div>
        <div class="col">
          <pm-landing-choose-us-item
            [imageUrl]="'assets/images/landing_choose_us_profs.svg'"
            [text]="'Landing.ChooseUs.Argument2.Description' | translate"
            [title]="'Landing.ChooseUs.Argument2.Title' | translate"
          ></pm-landing-choose-us-item>
        </div>
        <div class="col">
          <pm-landing-choose-us-item
            [imageUrl]="'assets/images/landing_choose_us_price.svg'"
            [text]="'Landing.ChooseUs.Argument3.Description' | translate"
            [title]="'Landing.ChooseUs.Argument3.Title' | translate"
          ></pm-landing-choose-us-item>
        </div>
        <div class="col">
          <pm-landing-choose-us-item
            [imageUrl]="'assets/images/landing_choose_us_mobility.svg'"
            [text]="'Landing.ChooseUs.Argument4.Description' | translate"
            [title]="'Landing.ChooseUs.Argument4.Title' | translate"
          ></pm-landing-choose-us-item>
        </div>
      </div>
    </div>
  </div>
</div>
