<div class="landing-text">

  <h1>Natashkola</h1>

  <h4>aaaLearn spanish or french online with a fully certified teacher from the comfort of your home
  </h4>

  <ul>
    <li>Affordable classes in small groups or private
    </li>
    <li>
      Qualified teacher
    </li>
    <li>
      Fully online, no need to move
    </li>
    <li>Twice a week for 2 months
    </li>
  </ul>
  <div class="row">
    <div class="col-md-6">
      !!french flag!!
    </div>
    <div class="col-md-6">
      !!spanish flag!!
    </div>
  </div>
  <a>Free quotation</a>
</div>
