<div class="page">
  <div class="module">
  <div class="col-md-6">
    <h2>{{ 'Landing.MainTitle'|translate }}</h2>
    <p>{{ 'Landing.MainDescription'|translate }}</p>
    <div class="row">
      <div class="col">
        <button class="btn btn-outline-primary btn-orange">{{'Landing.MainButtonFrench'|translate }}</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-primary btn-orange">{{'Landing.MainButtonSpanish'|translate }}</button>
      </div>
    </div>
  </div>
  </div>
</div>
