@import "../landing.component";

.page {
  background-color: var(--my_cyan);

  .container {
    height: 100%;
    .row {
      height: 100%;
    }
  }
}

.right-picture {
  width: auto;
  height: auto;
  background-image: url("../../../assets/images/landing_side_background2.jpg");
  background-size: cover;
  background-position: center;
}
