:root {
  --my_cyan: #b6f7f0ff;
  --my_forest: #108fa8;
  --my_pink: #f5ccd8;
  --fullwidth: 100%;

}

@font-face {
  font-family: chunk;
  src: url(./assets/fonts/chunk_five_font.otf) format("opentype");
}

@font-face {
  font-family: script;
  src: url(./assets/fonts/lobster.ttf) format("opentype");
}

.container{
  max-width: 100%;
}

h1 {
  color: var(--my_forest);
  font-family: 'chunk', 'arial', sans-serif;
  margin: 50px;
}

h2 {
  color: var(--my_pink);
  font-family: 'chunk', 'arial', sans-serif;
}

h3 {
  color: var(--my_forest);
  font-family: 'script', 'arial', sans-serif;
}

body {
  text-align: center;
}

.empty-row {
  height: 10vh;
}

.empty-row-double {
  height: 20vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


