<div class="page">
  <div class="module">
    <div class="container">

      <h2>Skill available to all</h2>

      <p>Courses tarification</p>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="row">
              Individual class (60 min)
            </div>
            <div class="row">
              1 class - 800 rubles
            </div>
            <div class="row">
              3 months - 6400 rubles
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              Group class (60min, 3-5 people)
            </div>
            <div class="row">
              1 class - 350 rubles
            </div>
            <div class="row">
              3 months - 2800 rubles
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

