<div class="page">
  <div class="module">
    <div class="container">
      <h2>{{ "Courses.Prices.Title" | translate}} </h2>

      <p>{{"Courses.Prices.SubTitle" | translate}}</p>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="row">
              {{"Courses.Prices.Individual.Title" | translate}}
            </div>
            <div class="row">
              {{"Courses.Prices.Individual.One" | translate}}
            </div>
            <div class="row">
              {{"Courses.Prices.Individual.Package" | translate}}
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              {{"Courses.Prices.Group.Title" | translate}}
            </div>
            <div class="row">
              {{"Courses.Prices.Group.One" | translate}}
            </div>
            <div class="row">
              {{"Courses.Prices.Group.Package" | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

