/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

:root {
  --red: #b00;
  --my_cyan: #b6f7f0ff;
  --my_forest: #108fa8;
  --my_pink: #f5ccd8;
  --fullwidth: 100%;
}

@font-face {
  font-family: chunk;
  src: url(./assets/fonts/chunk_five_font.otf) format("opentype");
}


div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

body {
  background-color: var(--my_cyan);
}

.container{
  max-width: 100%;
}

h1 {
  color: var(--my_forest);
  font-family: 'chunk', 'arial', sans-serif;
}

h4 {
  color: var(--my_pink);
  font-family: 'chunk', 'arial', sans-serif;
}


