<div class="page">

  <h1>{{"WhyUs.WhyUs"|translate}}</h1>
  <div class="container">
    <div class="row">
    <div class="col">
      <h3>{{"WhyUs.ArgumentTitle1" | translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc1"| translate}}</p>

      <h3>{{"WhyUs.ArgumentTitle2"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc2"| translate}}</p>

      <h3>{{"WhyUs.ArgumentTitle3"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc3"| translate}}</p>

      <h3>{{"WhyUs.ArgumentTitle4"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc4"| translate}}</p>
    </div>
    <div class="col">
      <h3>{{"WhyUs.ArgumentTitle5"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc5"| translate}}</p>

      <h3>{{"WhyUs.ArgumentTitle6"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc6"| translate}}</p>

      <h3>{{"WhyUs.ArgumentTitle7"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc7"| translate}}</p>

      <h3>{{"WhyUs.ArgumentTitle8"| translate}}</h3>
      <p>{{"WhyUs.ArgumentDesc8"| translate}}</p>
    </div>
    </div>
  </div>
</div>

