<div class="page">

  <h1>Why us ?</h1>
  <div class="container">
    <div class="row">
    <div class="col">
      <h3>Communicative technique</h3>
      <p>Start speaking from the first lessons.</p>

      <h3>Motivating atmosphere<br>and constant feed-backs</h3>
      <p>We are always ready to answer all your questions and fill your knowledge gaps.</p>

      <h3>Qualified specialists</h3>
      <p>Linguistic or teacher education. We are in love with foreign languages and are passionate about our business.</p>

      <h3>Modern technique</h3>
      <p>We use presentations, scans, audio and video materials, communication games and exercises</p>
    </div>
    <div class="col">
      <h3>A versatile approach</h3>
      <p>We form in our students all the necessary skills for successful mastering of a foreign language: speaking, listening, reading, grammar, phonetics, vocabulary and writing.</p>

      <h3>Small groups</h3>
      <p>You will receive more attention from our experts and you will have more opportunities to practice.</p>

      <h3>Mobility</h3>
      <p>You can practice from anywhere in the world. All you need is a computer, tablet or phone and the Internet.</p>

      <h3>Affordable prices</h3>
      <p>So, why do you hesitate ?</p>
    </div>
    </div>
  </div>
</div>

