<div class="page">
  <div class="module">
    <div class="background1">
      &nbsp;
      <div class="background2">
        <div class="content">
          <h2>{{'Landing.ChooseUs.Title' | translate}}</h2>
          <div class="row">
            <div class="col-3">
              <pm-landing-choose-us-item
                [imageUrl]="'assets/images/pages/landing/landing_choose_us_groups.svg'"
                [text]="'Landing.ChooseUs.Argument1.Description' | translate"
                [title]="'Landing.ChooseUs.Argument1.Title' | translate"
              ></pm-landing-choose-us-item>
            </div>
            <div class="col-3">
              <pm-landing-choose-us-item
                [imageUrl]="'assets/images/pages/landing/landing_choose_us_profs.svg'"
                [text]="'Landing.ChooseUs.Argument2.Description' | translate"
                [title]="'Landing.ChooseUs.Argument2.Title' | translate"
              ></pm-landing-choose-us-item>
            </div>
            <div class="col-3">
              <pm-landing-choose-us-item
                [imageUrl]="'assets/images/pages/landing/landing_choose_us_price.svg'"
                [text]="'Landing.ChooseUs.Argument3.Description' | translate"
                [title]="'Landing.ChooseUs.Argument3.Title' | translate"
              ></pm-landing-choose-us-item>
            </div>
            <div class="col-3">
              <pm-landing-choose-us-item
                [imageUrl]="'assets/images/pages/landing/landing_choose_us_mobility.svg'"
                [text]="'Landing.ChooseUs.Argument4.Description' | translate"
                [title]="'Landing.ChooseUs.Argument4.Title' | translate"
              ></pm-landing-choose-us-item>
            </div>
          </div>
        </div>
      </div>
      &nbsp;
    </div>
  </div>

</div>
